<h1>Stupid coaching</h1>
<form action="/answer" method="get">
  <input class="ask-question" type="text" name="question" value="<%= params[:question] %>">
  <input class="btn" type="submit" value="Ask!">
</form>
